absl-py==1.2.0
astroid==2.4.2
attrs==22.1.0
certifi @ file:///C:/b/abs_4f5wo627a3/croots/recipe/certifi_1663615677642/work/certifi
colorama==0.4.3
contourpy==1.0.5
cycler==0.11.0
fonttools==4.37.3
isort==5.4.2
joblib==1.2.0
kiwisolver==1.4.4
lazy-object-proxy==1.4.3
matplotlib==3.6.0
mccabe==0.6.1
mediapipe==0.8.11
numpy==1.23.3
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
protobuf==3.20.2
pylint==2.6.0
pyparsing==3.0.9
python-dateutil==2.8.2
scikit-learn==1.1.2
scipy==1.9.1
six==1.15.0
sklearn==0.0
threadpoolctl==3.1.0
toml==0.10.1
tqdm==4.64.1
wincertstore==0.2
wrapt==1.12.1
